/* Start Common CSS Style */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    color: #ffffff;
    font-family: 'Alfa Slab One', cursive;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style-type: none;
}

a {

    text-decoration: none;
}

.w_33 {
    width: calc((100% / 3) - 30px);
}

.btn-radius {
    background-color: #8f8a8a;
    font-size: 30px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
    margin: 55px;
}

/* End Common CSS Style */

/* Start Service Section CSS Style */
#serviceSection {
    text-align: center;
    padding: 100px 0;
}

#serviceSection .row {
    justify-content: space-between;
}

#serviceSection .item {
    position: relative;
    padding: 80px 30px;
    background-color: #403b3b;
}

#serviceSection .sectionHeading {
    color: black;
    font-size: 40px;
    padding-bottom: 50px;
    text-transform: uppercase;
}

#serviceSection .item h3 {
    font-size: 25px;
    font-weight: 100;
    line-height: 44px;
    padding: 30px 0;
    text-transform: uppercase;
}

#serviceSection .item img {
    max-width: 100%;
    display: block;
}

#serviceSection .item .overlay {
    background-color: rgb(255, 187, 0);
    padding: 50px 30px;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: none;
    transition: 0.4s;
}

#serviceSection .item .overlay p {
    color: rgb(7, 7, 7);
    display: block;
    text-align: center;
    margin: 30px auto;
    font-size: 50px;
}

#serviceSection .item:hover .overlay {
    display: block;
}

#serviceSection .item .overlay button {
    background: none;
    border: none;
}

#serviceSection .item .overlay i:hover {
    background: yellow;
}

/* End Service Section CSS Style */
/* Start Portfolio Section CSS Style */
#portfolioSection {
    text-align: center;
    padding: 100px 0;
}

#portfolioSection .sectionHeading {
    color: black;
    font-size: 40px;
    padding-bottom: 50px;
    text-transform: uppercase;
}

#portfolioSection .row {
    justify-content: space-between;
    align-items: center;
}

#portfolioSection .item .innerItem>img {
    max-width: 100%;
}

/* End Portfolio Section CSS Style */